/* Centering all content on the page */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh; /* Full viewport height for Safari compatibility */
  margin: 0;
  /* font-family: Arial, sans-serif; */
  /* font-family: Verdana, sans-serif; */
  font-family: Tahoma, sans-serif;
  text-align: center;
}

/* Remove default margin and padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

footer {
  font-size: 0.8rem;
  color: #555;
}

p,
hr {
  width: 35%; /* Limit width to 35% */
  margin: 0 auto;
  margin-top: 2rem;
  text-align: justify;
  text-justify: inter-word; /* Safari-specific alignment fix */
  line-height: 1.5em; /* Add fallback */
  font-family: Arial, sans-serif; /* Consistent sans-serif */
  font-size: 1rem;
}

/* Media query for tablets */
@media (max-width: 1024px) {
  p,
  hr {
    width: 60%;
  }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  p,
  hr {
    width: 85%;
  }
}

hr {
  margin-bottom: 3rem;
}

.tdl {
  text-align: right;
  width: 50ch;
}

.tdr {
  text-align: left;
  width: 50ch;
}
